apiVersion: v1
kind: Service
metadata:
  name: taskmanager-service
  namespace: taskmanager
spec:
  type: NodePort
  selector:
    app: taskmanager-app
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 32000
